svg(class="triangles" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 160" preserveAspectRatio="none")
	polygon(class="triangle triangle-left" points="0,0 50,160 0,160")
	polygon(class="triangle triangle-right" points="50,160 100,160 100,0")
